body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 8px;
}

form p {
    margin: 10px 0;
}

form input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form input[type="checkbox"] + label,
form input[type="radio"] + label {
    display: inline-block;
    margin-left: 5px;
    color: #555;
}

form input[type="checkbox"]:checked + label,
form input[type="radio"]:checked + label {
    font-weight: bold;
    color: #333;
}

.container label {
    margin-top: 10px;
    font-size: 14px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4d4d; /* Красный цвет */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
    background-color: #e60000; /* Темнее при наведении */
    transform: translateY(-2px); /* Легкий подъем */
}

.submit-btn:active {
    background-color: #cc0000; /* Ещё темнее при нажатии */
    transform: translateY(1px); /* Плавное нажатие */
}